llama-cpp-python[server]==0.2.69
ollama==0.1.9
groq==0.5.0
openai==1.25.1
google-cloud-aiplatform==1.50.0
pyautogen[retrievechat,autobuild]==0.2.27
transformers==4.40.1
torch==2.3.0
torchaudio==2.3.0
torchvision==0.18.0
sentence-transformers==2.7.0
chromadb==0.5.0
autogenstudio==0.0.56
soundfile==0.12.1
sounddevice==0.4.6
elevenlabs==1.2.1
huggingface-hub==0.23.0
langchain==0.1.17
langchain_openai==0.1.6
guidance==0.1.13
requests
argparse
pendulum
folium
seaborn[stats]
sympy
numpy
prompt_toolkit
Pygments
datetime
netifaces
geocoder
googlesearch-python
art
apsw
gTTS
google-cloud-speech
google-cloud-texttospeech
pywhatkit
yt-dlp
rembg
qrcode
pyperclip
colorama
pillow
docker
einops
unstructured[all-docs]
tiktoken
pygame
PySide6
feedparser
html2text
pypdf
PyMuPDF
yfinance
setuptools-rust
SpeechRecognition
openai-whisper
pydub
stable-diffusion-cpp-python
pytz
geopy