cmake==3.29.3
llama-cpp-python[server]==0.2.77
ollama==0.2.1
groq==0.8.0
openai==1.32.0
tiktoken==0.7.0
google-cloud-aiplatform==1.54.0
pyautogen[retrievechat,autobuild]==0.2.28
transformers==4.41.2
sentence-transformers==3.0.1
torch==2.3.0
torchaudio==2.3.0
torchvision==0.18.0
chromadb==0.5.0
autogenstudio==0.0.56
soundfile==0.12.1
sounddevice==0.4.7
elevenlabs==1.2.2
huggingface-hub==0.23.3
langchain==0.2.5
langchain-community==0.2.5
langchain-openai==0.1.8
guidance==0.1.15
requests
argparse
pendulum
folium
seaborn[stats]
sympy
numpy==1.26.4
prompt_toolkit
Pygments
datetime
netifaces
geocoder
googlesearch-python
art
apsw
gTTS
google-cloud-speech
google-cloud-texttospeech
pywhatkit
yt-dlp
rembg
qrcode
pyperclip
colorama
pillow
docker
einops
unstructured[all-docs]
pygame
PySide6
feedparser
html2text
pypdf
PyMuPDF
yfinance
setuptools-rust
SpeechRecognition
openai-whisper
pydub
stable-diffusion-cpp-python
pytz
geopy
psutil