#anthropic==0.40.0
#autogen[gemini,mistral,groq,ollama,retrievechat,teachable,lmm,graph,long-context]==0.5.2
#autogen[autobuild]==0.5.2
#autogenstudio==0.1.5
#langchain-unstructured[local]==0.1.6
#unstructured[all-docs]==0.15.14
#unstructured-client==0.28.1
#unstructured-inference==0.7.36
#unstructured.pytesseract==0.3.13
#langchain-huggingface==0.1.2
#chromadb==0.5.3
#chroma-hnswlib==0.7.3
#sentence-transformers==3.3.1
#scikit-image==0.24.0
#scikit-learn==1.6.0
#jsonpath-python==1.0.6
#grpc-google-iam-v1==0.13.1
#grpcio==1.68.1
#grpcio-status==1.62.3
#cryptography==42.0.8
#opentelemetry_sdk==1.27.0
#opentelemetry-proto==1.27.0
#opentelemetry-api==1.27.0
#onnxruntime==1.19.2
#MarkupSafe==3.0.2
#jsonschema==4.23.0
#jsonschema-specifications==2024.10.1
#llvmlite==0.43.0
#llama-cpp-python[server]==0.3.0
#cmake==3.30.3
#transformers==4.44.2
#guidance==0.1.16
#pendulum
#seaborn[stats]
#netifaces
#apsw
#rembg
#docker
#pygame
#PySide6
#PyMuPDF
#yfinance
#openai-whisper
#stable-diffusion-cpp-python
#flaml[automl]
#tavily-python
#vosk
#lightrag-hku
#google-ai-generativelanguage==0.6.10
#google-api-core==2.24.0
#google-api-python-client==2.154.0
#google-auth==2.36.0
#google-auth-httplib2==0.2.0
#google-cloud-aiplatform==1.74.0
#google-cloud-bigquery==3.27.0
#google-cloud-core==2.4.1
#google-cloud-resource-manager==1.13.1
#google-cloud-storage==2.19.0
#google-crc32c==1.6.0
#google-generativeai==0.8.3
#google-resumable-media==2.7.2
#googleapis-common-protos==1.66.0
#litellm[proxy]==1.54.1
#google-cloud-speech
#google-cloud-texttospeech

# To check
import os
notSupported = []
with open('package/toolmate/requirements_lite.txt', 'r') as file:
  for line in file:
    if not line.startswith("#"):
      r = os.system("pip install "+line.strip())
      if not r==0:
        notSupported.append(line)
print(notSupported)